# Recommendation Systems

In [1]:
import numpy as np
import pandas as pd

In [2]:
column_names = ['userId', 'productId', 'rating', 'timestamp']
df = pd.read_csv("ratings_Electronics.csv",names=column_names)
df.head()

           userId   productId  rating   timestamp
0   AKM1MP6P0OYPR  0132793040     5.0  1365811200
1  A2CX7LUOHB2NDG  0321732944     5.0  1341100800
2  A2NWSAGRHCP8N5  0439886341     1.0  1367193600
3  A2WNBOD3WNDNKT  0439886341     3.0  1374451200
4  A1GI0U4ZRJA8WN  0439886341     1.0  1334707200

In [3]:

len(df)

7824482

In [4]:
df = df.sample(10244) 
product_mat = df.pivot_table(index='userId',columns='productId',values='rating')

product_mat.head()

productId,140053271X,1400599997,6000006179,7793224531,9573212919,9875880973,9983891212,9985511476,9985699696,B000001OL6,...,B00JQJ4THQ,B00JR625WO,B00K589F8A,B00K7O2DJU,B00K8AB1MI,B00KEL0LMW,B00KFAGCUM,B00KI0C1C2,B00KMRGF28,B00L26YDA4
userId,,,,,,,,,,,,,,,,,,,,,
A016339031VM2TUCS403L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A04573502LCKNW3OLTTBE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A04620232OZV6BND6Q1XO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A058037233UBFYRMKP0AC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A06563043EU1ZC9O2DJUA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
type(product_mat)

pandas.core.frame.DataFrame

In [6]:
user_ratings = product_mat['9983891212']
user_ratings.head()

userId
A016339031VM2TUCS403L   NaN
A04573502LCKNW3OLTTBE   NaN
A04620232OZV6BND6Q1XO   NaN
A058037233UBFYRMKP0AC   NaN
A06563043EU1ZC9O2DJUA   NaN
Name: 9983891212, dtype: float64

In [7]:
similar_to_product =  product_mat.corrwith(user_ratings)
similar_to_product

c:\Users\reyhan\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\lib\function_base.py:2634: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
c:\Users\reyhan\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\lib\function_base.py:2493: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

productId
140053271X   NaN
1400599997   NaN
6000006179   NaN
7793224531   NaN
9573212919   NaN
              ..
B00KEL0LMW   NaN
B00KFAGCUM   NaN
B00KI0C1C2   NaN
B00KMRGF28   NaN
B00L26YDA4   NaN
Length: 8181, dtype: float64

In [8]:
type(similar_to_product)

pandas.core.series.Series

In [9]:
corr_product = pd.DataFrame(similar_to_product, columns=['Correlation'])
corr_product.dropna(inplace=True)
corr_product.head()

Empty DataFrame
Columns: [Correlation]
Index: []

In [10]:
corr_product.sort_values('Correlation',ascending=False).head(10)

Empty DataFrame
Columns: [Correlation]
Index: []

In [11]:
df.head()

                 userId   productId  rating   timestamp
1667437  A2K3QDD72XJ83B  B001418W2C     4.0  1231459200
3841607  A2NYRZ6CLVS02B  B0043M6668     4.0  1355875200
6909794   AN7PRE9817QKX  B00AJHDZSI     5.0  1389398400
5224124  A25VSQLD81P4TF  B005X1Y7I2     5.0  1370908800
2410438  A3LLABB6FDCTID  B0021OFRJ2     3.0  1262476800

In [12]:
df.drop(['timestamp'], axis = 1)

                 userId   productId  rating
1667437  A2K3QDD72XJ83B  B001418W2C     4.0
3841607  A2NYRZ6CLVS02B  B0043M6668     4.0
6909794   AN7PRE9817QKX  B00AJHDZSI     5.0
5224124  A25VSQLD81P4TF  B005X1Y7I2     5.0
2410438  A3LLABB6FDCTID  B0021OFRJ2     3.0
...                 ...         ...     ...
6508945  A25BK2HR4BWY9A  B00972M942     5.0
7512248  A2Q2TUVSVY230I  B00E9262IE     1.0
488795    AOJ970ZD7O1JD  B0002L5R78     5.0
5939158  A3393SIZQLZKLG  B007WAWHLQ     4.0
2186852  A2S397MLMNLA80  B001O4EPHA     5.0

[10244 rows x 3 columns]

In [13]:
ratings = pd.DataFrame(df.groupby('productId')['rating'].mean())

ratings.sort_values('rating',ascending=False).head()

            rating
productId
140053271X     5.0
B004KPS5UI     5.0
B004L8R8E8     5.0
B004L6JXE8     5.0
B004L3JPX0     5.0

In [14]:
ratings['rating_puan_count'] = pd.DataFrame(df.groupby('productId')['rating'].count())
ratings.head()

            rating  rating_puan_count
productId
140053271X     5.0                  1
1400599997     5.0                  1
6000006179     5.0                  1
7793224531     5.0                  1
9573212919     5.0                  1

In [15]:
ratings.sort_values('rating_puan_count',ascending=False).head()

              rating  rating_puan_count
productId
B0074BW614  4.653846                 26
B00DR0PDNE  3.956522                 23
B0019EHU8G  4.900000                 20
B003ES5ZUU  4.666667                 18
B008OHNZI0  4.666667                 15

In [16]:
corr_product.sort_values('Correlation',ascending=False).head(10)

Empty DataFrame
Columns: [Correlation]
Index: []

In [17]:
corr_product = corr_product.join(ratings['rating_puan_count'])
corr_product.head()

Empty DataFrame
Columns: [Correlation, rating_puan_count]
Index: []

In [18]:
corr_product[corr_product['rating_puan_count']>9].sort_values('Correlation',ascending=False).head()

Empty DataFrame
Columns: [Correlation, rating_puan_count]
Index: []